body{
	background: blue;
	color: white;
}
input{
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 20px;
}
#boton{
	background: black;
	color: white;
	font-size: 20px;
}
#boton:hover{
	background: white;
	color: black;
}
a{
	color: white;
	font-size: 30px;
}
a:hover{
	background: white;
	color: black;
}